.window{
    -fx-background-image: url("/application/icons/background.jpg");
    -fx-background-size: cover,auto;
}

.textFields{
	-fx-border-color: #6897BB;
	-fx-border-width: 2;
}

.buttonStyleSearch{
	-fx-background-image: url("/application/icons/Search-icon.png")  no-repeat;
	-fx-background-size: cover,auto;
	-fx-padding: 15px 6px;
	-fx-border-color: #6897BB;
	-fx-border-width: 2;
	-fx-opacity:0.8;
	-fx-font-weight:bold;

}
.buttonStyleUpdate{
	-fx-background-image: url("/application/icons/Pencil-icon.png")no-repeat;
	-fx-background-size: cover,auto;
	-fx-padding: 15px 6px;
	-fx-border-color: #6897BB;
	-fx-border-width: 2;
	-fx-opacity:0.8;
	-fx-font-weight:bold;
}
