.window{
    -fx-background-image: url("/application/icons/background.jpg");
    -fx-background-size: cover,auto;
}

.textFields{

	-fx-effect: innershadow(one-pass-box, black, 10, 0, 0, 0); 
	-fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0); 
	
}

.buttonStyleSearch{
	-fx-effect: innershadow(one-pass-box, black, 10, 0, 0, 0); 
	-fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0); 
	-fx-padding: 6px 15px;
	-fx-border-color: #6897BB;
	-fx-border-width: 2;
	-fx-opacity:0.8;
	-fx-font-weight:bold;
}
.buttonStyleUpdate{
	-fx-effect: innershadow(one-pass-box, black, 10, 0, 0, 0); 
	-fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0); 
	-fx-background-size: cover,auto;
	-fx-padding: 6px 15px;
	-fx-border-color: #6897BB;
	-fx-border-width: 2;
	-fx-opacity:0.8;
	-fx-font-weight:bold;
}
.tableColumn {
  -fx-alignment: CENTER;
}
